@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

h1, h2 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}